html {
    background-color: rgb(72, 78, 72);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.row.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.container div{
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    margin: 10px;
    position: relative;
}
.start{
    width: 800px;
    height: 500px;
}

button{
    width: 250px;
    height: 80px;
    margin: 10px;
    background-color: darkgray;
    font-size: 40px;
    text-emphasis: bold;
    border-radius: 10%;
    color: white;
    /* position: absolute; */
}

img.card_back, img.card_front{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    position: absolute;
}

.invisible {
    opacity: 0;
}

.counter {
    text-align: center;
    font-size: 100px;
    align-self: center;
    background-color: rgb(192, 186, 186);
    color: rgb(63, 62, 62);
    border-radius: 10%;    
}